.card-img-top {
  max-height: 20vh; /*not want to take all vertical space*/
  object-fit: contain; /*show all image, autosized, no cut, in available space*/
}


mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
